<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiliconClientId" value="dev-silicon"/> 
    <add key="SiliconClientSecret" value="dev-password"/>
    <add key="FrontendClientId" value="dev-human"/> 
    <add key="FrontendClientSecret" value="dev-password"/> 
    
    <add key="facing" value="localhttps"/>
    <add key="facing.localhttp.hostname" value="http://local.identityserver:5001/"/>
    <add key="facing.localhttps.hostname" value="https://local.identityserver:5000/"/>
    <add key="facing.remotehttps.hostname" value="http://ec2-52-57-195-49.eu-central-1.compute.amazonaws.com:5000/"/>
    
    <add key="facing.localhttp.redirectback.to" value="http://local.frontend/"/>
    <add key="facing.localhttps.redirectback.to" value="https://local.frontend/"/>
    <add key="facing.remotehttps.redirectback.to" value="http://azure.net/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>