<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiliconClientId" value="dev-silicon"/> 
    <add key="SiliconClientSecret" value="dev-password"/>
    <add key="FrontendClientId" value="dev-human"/> 
    <add key="FrontendClientSecret" value="dev-password"/> 
    
    <add key="scheme" value="https"/>
    <add key="hostname" value="ec2-52-57-195-49.eu-central-1.compute.amazonaws.com"/>
    <add key="port" value="5000"/>
    
    <add key="auth.redirect.back.to" value="http://azure.net/"/>
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>