<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiliconClientId" value="dev-silicon"/> 
    <add key="SiliconClientSecret" value="dev-silicon-secret"/>

    <add key="FrontendClientId" value="dev-human"/> 
    <add key="user.bob" value="bob"/> 
    <add key="user.bob.password" value="dev-bob-password"/>
    <add key="user.admin" value="bob"/> 
    <add key="user.admin.password" value="dev-admin-password"/>
    
    <add key="scheme" value="https"/>
    <add key="hostname" value="local.identityserver"/>
    <add key="port" value="5000"/>
    <add key="log.level" value="Error"/>
    <add key="after.auth.redirect.csv" value="https://local.frontend/"/>
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>